<div class="modal fade" id="myModal_<%=portfolio_item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= portfolio_item.id %>
        <%= portfolio_item.technologies.inspect %>
        Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.
Lorem ipsum dolor sit amet, vix ei mundi ludus consectetuer, vix rebum iudico munere ad. Molestiae suscipiantur eos ei. Ius deleniti ullamcorper ut. Graeco facilis invidunt in eos, ex paulo viris fabulas qui. Id his quidam epicuri pertinax, etiam epicuri ut vim.

Usu vero dicunt nominati ne, mea at mentitum volutpat ocurreret, eu paulo mollis pri. An eruditi aliquando est, melius quaestio intellegebat vis et. Eam ex affert labores propriae, est quot putant cu. Debitis principes urbanitas id eam. Eum elitr adipisci efficiantur id. At mel diceret dolorum facilis, sea utinam nostrum dolores an.

Nobis malorum legendos quo ea, te eum dicta quando fabulas, inermis voluptatum sit te. Mea rebum iracundia ut, albucius philosophia vim in, an adhuc facilisi qui. Usu et latine saperet, et munere quaestio mei, duo no virtute omittam incorrupte. Illum blandit te eos. Pertinax ullamcorper qui ea. Id sit inani novum labores.

Facer praesent ne usu, nam eius tractatos at. Quo ullum mentitum id, inermis nusquam et est. Et quod malis omittantur est. Te usu wisi augue nusquam, ex scripta omnesque ocurreret eum.

Quod vide solum id per. Et eos tritani torquatos, sed at alii forensibus, vix perpetua iudicabit ut. Eos altera nostro fabellas cu. Deleniti intellegat id pri, ipsum conceptam has ne. Habeo nostrud eos cu.


      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>