<div class="wrapper">
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/bg10.jpg');">
    </div>
		<div class="container">
		  <div class="content-center">
		    <h3 class="title">A Place for Entrepreneurs to Share and Discover New Stories</h3>
		  </div>
		</div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section">
    	<div class="row">
    		<div class="col-sm-11 col-xs-12 offset-sm-1 col-md-6 offset-md-3 nav-align-center">
    			<ul class="nav nav-pills nav-pills-primary" role="tablist">
          	<li class="nav-item">
          		<a class="nav-link" data-toggle="tab" href="#active" role="tablist">
          			<i class="fa fa-diamond"></i>
          		</a>
          	</li>
          	<li class="nav-item">
          		<a class="nav-link active" data-toggle="tab" href="#link" role="tablist">
          			<i class="fa fa-thermometer-full"></i>
          		</a>
          	</li>
          	<li class="nav-item">
          		<a class="nav-link" data-toggle="tab" href="#link" role="tablist">
          			<i class="fa fa-suitcase"></i>
          		</a>
          	</li>
          	<li class="nav-item">
          		<a class="nav-link" data-toggle="tab" href="#active" role="tablist">
          			<i class="fa fa-diamond"></i>
          		</a>
          	</li>
          </ul>
    		</div>
    	</div>
    </div>
  </div>
  <div class="container">
      <div class="row">
          <% @portfolio_items.each do |portfolio_item|%>
              <div class="col-lg-4 col-md-6">
                  <div class="portfolio-card-container">
                    <div class="portfolio">
                      <div class="portfolio-front">
                        <div class="portfolio-cover">
                          <%= image_tag portfolio_item.thumb_image %>
                        </div>
                        <div class="footer">
                            <i class="fa fa-mail-forward"></i> Auto Rotation
                        </div>
                      </div>
                      <div class="portfolio-back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                          <div class="main text-center">
                              <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                              <%= link_to "Show", portfolio_item, class: "link-separator btn btn-primary btn-round" %>
                              <%= link_to "Edit", edit_portfolio_path(portfolio_item), class: "link-separator btn btn-primary btn-round" %>
                              <%= link_to "Delete", portfolio_path(portfolio_item), method: :delete, data: { confirm: "Are you sure?" }, class: "link-separator btn btn-primary btn-round" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          <% end %>
      </div>    
  </div>
</div>