<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Profile Page - Now Ui Kit by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
   
    <!-- CSS Files -->
</head>

<body class="profile-page">
    <!-- Navbar -->
    
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/bg5.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="photo-container">
                        <img src="/assets/ryan.jpg" alt="">
                    </div>
                    <h3 class="title">Arpit Agarwal</h3>
                    <p class="category">Software Developer</p>
                    <div class="content">
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>26</h2>
                            <p>Comments</p>
                        </div>
                        <div class="social-description">
                            <h2>48</h2>
                            <p>Bookmarks</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="button-container">
                    <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                    <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#button" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
                <h3 class="title">About me</h3>
                <h5 class="description">An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</h5>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <h4 class="title text-center">Work Experience</h4>
                        <div class="nav-align-center">
                            <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#profile" role="tablist">
                                        <i class="now-ui-icons design_image"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                                        <i class="now-ui-icons location_world"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#messages" role="tablist">
                                        <i class="now-ui-icons sport_user-run"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <!-- Tab panes -->
                    <div class="tab-content gallery">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row collections">
                                        <div class="col-md-6">
                                            <div class="card-container">
                                                <div class="workex">
                                                    <div class="front">
                                                        <div class="cover">
                                                            <img src="/assets/rotating_card_thumb2.png"/>
                                                        </div>
                                                        <div class="user">
                                                            <img class="img-circle" src="/assets/ryan.jpg"/>
                                                        </div>
                                                        <div class="content">
                                                            <div class="main">
                                                                <h3 class="name">John Marvel</h3>
                                                                <p class="profession">CEO</p>
                                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                                            </div>
                                                            <div class="footer">
                                                                <i class="fa fa-mail-forward"></i> Auto Rotation
                                                            </div>
                                                        </div>
                                                    </div> <!-- end front panel -->
                                                    <div class="back">
                                                        <div class="header">
                                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                                        </div>
                                                        <div class="content">
                                                            <div class="main">
                                                                <h4 class="text-center">Job Description</h4>
                                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                
                                                                <div class="stats-container">
                                                                    <div class="stats">
                                                                        <h4>235</h4>
                                                                        <p>
                                                                            Followers
                                                                        </p>
                                                                    </div>
                                                                    <div class="stats">
                                                                        <h4>114</h4>
                                                                        <p>
                                                                            Following
                                                                        </p>
                                                                    </div>
                                                                    <div class="stats">
                                                                        <h4>35</h4>
                                                                        <p>
                                                                            Projects
                                                                        </p>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                        <div class="footer">
                                                            <div class="social-links text-center">
                                                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end back panel -->
                                                </div> <!-- end card -->
                                            </div> <!-- end card-container -->
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-container">
                                                <div class="workex">
                                                    <div class="front">
                                                        <div class="cover">
                                                            <img src="/assets/rotating_card_thumb2.png"/>
                                                        </div>
                                                        <div class="user">
                                                            <img class="img-circle" src="/assets/ryan.jpg"/>
                                                        </div>
                                                        <div class="content">
                                                            <div class="main">
                                                                <h3 class="name">John Marvel</h3>
                                                                <p class="profession">CEO</p>
                                                                <p class="text-center">"I'm the new Sinatra, and since I made it here I can make it anywhere, yeah, they love me everywhere"</p>
                                                            </div>
                                                            <div class="footer">
                                                                <i class="fa fa-mail-forward"></i> Auto Rotation
                                                            </div>
                                                        </div>
                                                    </div> <!-- end front panel -->
                                                    <div class="back">
                                                        <div class="header">
                                                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                                                        </div>
                                                        <div class="content">
                                                            <div class="main">
                                                                <h4 class="text-center">Job Description</h4>
                                                                <p class="text-center">Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                                
                                                                <div class="stats-container">
                                                                    <div class="stats">
                                                                        <h4>235</h4>
                                                                        <p>
                                                                            Followers
                                                                        </p>
                                                                    </div>
                                                                    <div class="stats">
                                                                        <h4>114</h4>
                                                                        <p>
                                                                            Following
                                                                        </p>
                                                                    </div>
                                                                    <div class="stats">
                                                                        <h4>35</h4>
                                                                        <p>
                                                                            Projects
                                                                        </p>
                                                                    </div>
                                                                </div>
                                
                                                            </div>
                                                        </div>
                                                        <div class="footer">
                                                            <div class="social-links text-center">
                                                                <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                                                <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                                                <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                                                            </div>
                                                        </div>
                                                    </div> <!-- end back panel -->
                                                </div> <!-- end card -->
                                            </div> <!-- end card-container -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row collections">
                                        <div class="col-md-6">
                                            <img src="/assets/bg6.jpg" class="img-raised">
                                            <img src="/assets/bg11.jpg" alt="" class="img-raised">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="/assets/bg7.jpg" alt="" class="img-raised">
                                            <img src="/assets/bg8.jpg" alt="" class="img-raised">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <div class="row">
                                <div class="col-md-10 offset-md-1">
                                    <div class="row collections">
                                        <div class="col-md-6">
                                            <img src="/assets/bg3.jpg" alt="" class="img-raised">
                                            <img src="/assets/bg8.jpg" alt="" class="img-raised">
                                        </div>
                                        <div class="col-md-6">
                                            <img src="/assets/bg7.jpg" alt="" class="img-raised">
                                            <img src="/assets/bg6.jpg" class="img-raised">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-default">
            <div class="container">
                <div class=" text-center">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Coded by Arpit Agarwal
                </div>
            </div>
        </footer>
    </div>
</body>
</html>