<% @title = "About" %>

<body class="profile-page">
    <!-- Navbar -->
    
    <!-- End Navbar -->
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/about.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="wow zoomIn photo-container" data-wow-delay="1s">
                        <img src="/assets/arpit.jpg" alt="">
                    </div>
                    <h3 class="wow fadeInUp title" data-wow-delay="1s">Arpit Agarwal</h3>
                    <p class="wow fadeInUp category" data-wow-delay="1s"><span class="designation"></span></p>
                </div>
            </div>
        </div>
        <div class="main main-raised">
            <div class="section" style="border-radius: 6px;">
                <div class="container">
                    <div class="button-container">
                        <a href="#button" class="btn btn-primary btn-round btn-lg">Follow</a>
                        <a href="https://github.com/arpit016" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Github" target="_blank">
                            <i class="fa fa-github"></i>
                        </a>
                        <a href="https://stackoverflow.com/users/4885251/arpit-agarwal" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Stackoverflow" target="_blank">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/+ArpitAgarwal016" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Google+" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="https://www.facebook.com/arpit160" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Facebook" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <h3 class="wow fadeInUp title" data-wow-delay="1s">About me</h3>
                    <h5 class="wow zoomIn description" data-wow-delay="1s">A programmer of a considerable range with the passion for coding by day and stealth games by night. Started with Python and soon moved towards Rails and, since then, haven't stopped working on the framework. Quick learning and adaptability is my forte which helps me in picking up any technology while working on it. Have worked on various technologies and applications with both startups and MNC's in the last two years. Besides coding, I like to write poems in my free time. I also have a keen interest in Machine Learning and Deep Learning.</h5>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h4 class="wow fadeInUp title text-center" >Area of Focus</h4>
                            <div class="nav-align-center">
                                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                                            <i class="now-ui-icons business_bulb-63"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content gallery">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="wow fadeInUp row collections">
                                            <div class="col-md-6">
                                                <div class="progress-container progress-primary">
                                                    <span class="progress-badge">Ruby On Rails</span>
                                                    <div class="progress" data-percent="35%">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="progress-value">35%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-container progress-primary">
                                                    <span class="progress-badge">Python</span>
                                                    <div class="progress" data-percent="20%">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="progress-value">20%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-container progress-primary">
                                                    <span class="progress-badge">Front-End</span>
                                                    <div class="progress" data-percent="10%">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="progress-value">10%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="progress-container progress-primary">
                                                    <span class="progress-badge">Database</span>
                                                    <div class="progress" data-percent="10%">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="progress-value">10%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-container progress-primary">
                                                    <span class="progress-badge">Machine Learning</span>
                                                    <div class="progress" data-percent="15%">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="progress-value">15%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="progress-container progress-primary">
                                                    <span class="progress-badge">Deep Learning</span>
                                                    <div class="progress" data-percent="10%">
                                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="progress-value">10%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <h4 class="wow fadeInUp title text-center" data-wow-delay="1s">Work Experience</h4>
                            <div class="nav-align-center">
                                <ul class="nav nav-pills nav-pills-primary" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home" role="tablist">
                                            <i class="now-ui-icons business_briefcase-24"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <!-- Tab panes -->
                        <div class="wow zoomIn tab-content gallery" data-wow-delay="1s">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-10 offset-md-1">
                                        <div class="row collections">
                                            <div class="col-md-6">
                                                <div class="card-container">
                                                    <div class="workex">
                                                        <div class="front">
                                                            <div class="cover">
                                                                <img src="/assets/rotating_card_thumb2.png"/>
                                                            </div>
                                                            <div class="user">
                                                                <img class="img-circle" src="/assets/nearfox.PNG"/>
                                                            </div>
                                                            <div class="content">
                                                                <div class="main">
                                                                    <h3 class="name">Nearfox</h3>
                                                                    <p class="profession">SOFTWARE DEVELOPER</p>
                                                                    <p class="text-center">A hyper local startup founded by alumni's of IIT Bombay with the aim of providing most happening local events and news to the crowd</p>
                                                                </div>
                                                                <div class="footer">
                                                                    <i class="fa fa-mail-forward"></i> Job Description
                                                                </div>
                                                            </div>
                                                        </div> <!-- end front panel -->
                                                        <div class="back">
                                                            <div class="header">
                                                                <h5 class="motto">August 2015 - January 2016 | Mumbai</h5>
                                                            </div>
                                                            <div class="content">
                                                                <div class="main">
                                                                    <h4 class="text-center">Technology Stack</h4>
                                                                    <p class="text-center">Web Design, REST API, Scraping/Crawling, Python, MongoDB and others.</p>
                                    
                                                                    <div class="stats-container text-center">
                                                                        <button class="btn btn-primary" data-toggle="modal" data-target="#nearfox">
                                                                          Job Responsibilities
                                                                        </button>
                                                                    </div>
                                    
                                                                </div>
                                                            </div>
                                                            
                                                        </div> <!-- end back panel -->
                                                    </div> <!-- end card -->
                                                </div> <!-- end card-container -->
                                            </div>
                                            <div class="col-md-6">
                                                <div class="card-container">
                                                    <div class="workex">
                                                        <div class="front">
                                                            <div class="cover">
                                                                <img src="/assets/rotating_card_thumb2.png"/>
                                                            </div>
                                                            <div class="user">
                                                                <img class="img-circle" src="/assets/tata_main.jpg"/>
                                                            </div>
                                                            <div class="content">
                                                                <div class="main">
                                                                    <h3 class="name">Tata Consultancy Services Limited</h3>
                                                                    <p class="profession">SOFTWARE DEVELOPER</p>
                                                                    <p class="text-center">Global leaders in IT services, digital, and business solutions, they partner with clients to simplify, strengthen, and transform their businesses.</p>
                                                                </div>
                                                                <div class="footer">
                                                                    <i class="fa fa-mail-forward"></i> Job Description
                                                                </div>
                                                            </div>
                                                        </div> <!-- end front panel -->
                                                        <div class="back">
                                                            <div class="header">
                                                                <h5 class="motto">February 2016 - March 2017 | Mumbai</h5>
                                                            </div>
                                                            <div class="content">
                                                                <div class="main">
                                                                    <h4 class="text-center">Technology Stack</h4>
                                                                    <p class="text-center">Web design, SFMS, REST API, Java, Ruby On Rails, PostgreSQL and others...</p>
                                    
                                                                    <div class="stats-container text-center">
                                                                       <button class="btn btn-primary" data-toggle="modal" data-target="#tcsl">
                                                                          Job Responsibilities
                                                                        </button>
                                                                    </div>
                                    
                                                                </div>
                                                            </div>
                                                            
                                                        </div> <!-- end back panel -->
                                                    </div> <!-- end card -->
                                                </div> <!-- end card-container -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- MODAL for Nearfox -->
                        <div class="modal fade" id="nearfox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Nearfox- Software/Python Developer</h4>
                              </div>
                              <div class="modal-body">
                                <ul>
                                    <li>
                                        Developed Dashboards using Python, Flask and MongoDB for the complete backend which involved writing API methods for managing data flow in and out of the mobile and Web App.
                                    </li>
                                    <li>
                                        Developed scrapers and crawlers using Python, Scrapy and Selenium, the data from which was then sent to the DB in real time. 
                                    </li>
                                    <li>
                                        Integrated and implemented Elasticsearch for fast text searching in Dashboards. 
                                    </li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-simple" data-dismiss="modal" style="margin-left:auto;margin-right:auto;">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Modal for Nearfox -->
                        
                        <!-- MODAL for TCSL -->
                        <div class="modal fade" id="tcsl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">TCSL- Software Developer</h4>
                              </div>
                              <div class="modal-body">
                                <ul>
                                    <li>
                                        Developed complete prototype of a banking application including frontend and backend for clients using Java, servlets and in house API's.
                                    </li>
                                    <li>
                                        Developed and managed SFMS (Structured Financial Messaging System) using Java and servlets, which acts as a starting and end point for our day-to-day money transfer through NEFT and RTGS. 
                                    </li>
                                    <li>
                                        As a Prototype Developer, developed multiple Prototype web applications using Ruby On Rails platform for demonstrating the feasibility of project in later stages. Worked with multiple popular gems including Devise, Carrierwave, Paperclip, ActiveAdmin, Stripe, Haml, aws-sdk, Petergate, friendly_id, kaminari, etc. 
                                    </li>
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-simple" data-dismiss="modal" style="margin-left:auto;margin-right:auto;">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End Modal for TCSL -->
                    </div>
                </div>
            </div>
        </div>
        <%= render 'layouts/footer'%>
    </div>
</body>