<div class="wrapper">
  <div class="page-header" filter-color="orange">
    <div class="page-header-image" data-parallax="true" style="background-image: url('/assets/bg1.jpg'); height: 100vh;">
    </div>
		<div class="container">
		  <div class="content-center">
		    <h3 class="title">Welcome to my Online Home!</h3>
		    <h4 class="text-center">Software development is the closest concept we have to magic. It's my goal to ensure that anyone with a passion for coding can become a true programming artisan.</h4>
		    <%= link_to "About Me", about_path, class: "btn btn-primary btn-round btn-lg" %>
		  </div>
		</div>
  </div>
</div>
