<% @title = "Thankyou!" %>
<body class="login-page">

    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image: url('/assets/contact.jpg');"></div>
        <div class="container">
            <div class="col-md-4 content-center" id="contact-container">
              <h4 class="title"> <span class="contact-reply"></span> </h4>
            </div>
        </div>
        <footer class="footer contact-footer">
            <div class="container text-center">
                <nav>
                    <ul>
                        <li>
                          &copy;
                            <%= link_to "Arpit Agarwal", root_path %>
                        </li>
                        <li>
                            <%= link_to "About Me", about_path %>
                        </li>
                        <li>
                            <%= link_to "Blog", blogs_path %>
                        </li>
                        <li>
                            <%= link_to "Portfolio", portfolios_path %>
                        </li>
                    </ul>
                </nav>
               
            </div>
        </footer>
    </div>
</body>
