<body class="login-page">

    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image: url('/assets/bg6.jpg');"></div>
        <div class="container">
            <div class="col-md-4 content-center" id="contact-container">
              <h4 class="title"> <span class="contact-reply"></span> </h4>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                          &copy;
                            <a href="#">
                                 Arpit Agarwal
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                About Me
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="Portfolio">
                                Portfolio
                            </a>
                        </li>
                    </ul>
                </nav>
               
            </div>
        </footer>
    </div>
</body>
