<footer class="footer footer-default">
    <div class="container">
        <div class=" text-center">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, Coded by Arpit Agarwal
        </div>
    </div>
</footer>